.simple_form {
    margin-bottom: 40px;
}

.card-category {
    margin-bottom: 40px;
}

.category-title {
    margin-bottom: -30px;
}

.main-container {
    display: flex;
    justify-content: flex-end;
}

.cards {
    margin-top: 40px;
}