<%# card home %>

<div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/53537/caravan-desert-safari-dune-53537.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
  <h1>Vous ne savez pas quoi conduire ?</h1>
  <%= link_to 'Je suis flexible', cars_path, class:"btn btn-flat btn-flex" %>
</div>
