<h2 class="category-title">Ideas for your next ride</h2>

<div class="main-container">
    <div class="cards">
        <div class="card" style="background-image: url(https://www.authentic-roads.com/wp-content/uploads/2019/12/1577101521_279_Top-10-des-meilleures-super-voitures-de-sport-2019.jpg)">
          <%= link_to 'Sportscar', cars_path %>
        </div>
        <div class="card" style="background-image: url(https://i.gaw.to/vehicles/photos/09/24/092472_2019_nissan_Micra.jpg?640x400)">
           <%= link_to 'City Car', cars_path %>
        </div>
        <div class="card" style="background-image: url(https://www.automobile-propre.com/wp-content/uploads/2020/12/Nio-ET-Preview-berline-electrique-1.jpg)">
           <%= link_to 'Sedan', cars_path %>
        </div>
    </div>
</div>
