<h2 class="text-center">My Cars Pending</h2><h2 class="text-center">My Bookings</h2>

<%# <%= "CarPhoto - CarName - can be bookign by User.name Valider ou pas" %>
<% current_user.cars.each do |car|
  car.bookings.each do |booking| %>
    <ul>
      <li>
        <% car_id = booking.car_id %>
        <% car = Car.find(car_id) %>
        <% user = User.find(booking.user_id) %>
        <%= render 'shared/notificationdashboard', format: "pending", user: user, booking: booking, car: car %>
      </li>
    </ul>
  <% end %>
<% end %>
<h2 class="text-center">My Bookings</h2>
<%= 'all bookings of the users' %>
<% @bookings.each do |booking| %>
<ul>
  <li>
    <% car_id = booking.car_id %>
    <% car = Car.find(car_id) %>
    <% owner_id = car.user_id %>
    <% owner = User.find(owner_id) %>
    <%= render 'shared/notificationdashboard', format: "booking", user: owner, booking: booking, car: car %>
  </li>

</ul>
<% end %>

