<%# cars card %>
<%# <div class="card-product">
  <img src="https://cdn.motor1.com/images/mgl/Jq0kK/s3/lamborghini-sian-in-london.jpg" />
  <div class="card-product-infos">
    <h2>Lamborghini</h2>
    <p>Essence</p>
    <p>624 ch</p>
    <h2 class="card-trip-pricing">149€</h2>
  </div>
</div>
<div class="card-product">
  <img src="https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1290x726/dam/pnr/2021/Products/911-gts/Gallery-Driving/P21_0182_a3_rgb.jpeg/jcr:content/P21_0182_a3_rgb.jpeg" />
  <div class="card-product-infos">
    <h2>Porsche</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
<div class="card-product">
  <img src="https://pro.largus.fr/images/images/01-ferrari-f8-tributoredimensionner.jpg?width=620&quality=80" />
  <div class="card-product-infos">
    <h2>Ferrari</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>
<%# footer %>

