.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #d11d10;
    transition: background 0.3s ease;
  }

  .btn-flex {
    margin-top: 30px;
  }
  
  .btn-flat:hover {
    background: black;
  }
  